 
@model Technical_Assessment_Solution.Models.AssessmentViewModel

<div class="text-center">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">Max Value:</div>
            <div class="col-lg-6">@Html.DisplayFor(model => model.Max)</div>
        </div>
        <div class="row">
            <div class="col-lg-6">Min Value:</div>
            <div class="col-lg-6">@Html.DisplayFor(model => model.Min)</div>
        </div>
    </div>
    
</div>